/* Specify the size of the map */
.map {
  /* Use MUI styles to change the map size responsively */
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* Clean the default background and border radius from the connected participant markers */
.leaflet-div-icon-clean-bg {
  background: none;
  border: none;
  color: black !important;
}
.leaflet-div-icon-clean-bg-gray {
  background: none;
  border: none;
  color: rgb(92, 92, 92) !important;
}

.tab-map {
  width: 100%;
}
