/* Specify the size of the map */
.map {
  width: 100%;
  height: 100vh;
}

/* Clean the default background and border radius from the connected participant markers */
.leaflet-div-icon-clean-bg {
  background: none;
  border: none;
}
