.dockerignore
.editorconfig
.git
.gitattributes
.gitignore
build
cache
config_small.json
*.log
*.svg
dist
Dockerfile
docs
jest.config.js
logs
node_modules
README.md
tests
typedoc.js
config.schema.json
delete*
benchmarks

# Profiling
*.0x
isolate-*.log
processed.txt
