# Ignore built files
build
docs
dist
!dist.ts
# Ignore node dependencies
node_modules
# Ignore chached files
cache
# Ignore log files
logs
# Ignore jest reports
benchmarks

# Other files
test.json
delete*

# Profiling
*.0x
isolate-*.log
processed.txt
